---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      <span class="date">
        <i class="fas fa-calendar"></i>
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%d/%m/%Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </span>
      <span class="read-time">
        <i class="fas fa-clock"></i>
        {% assign words = content | number_of_words %}
        {% if words < 360 %}
          1 min de leitura
        {% else %}
          {{ words | divided_by: 180 }} min de leitura
        {% endif %}
      </span>
      {% if page.categories %}
      <span class="categories">
        <i class="fas fa-folder"></i>
        {% for category in page.categories %}
          <a href="{{ '/categories/' | relative_url }}{{ category | slugify }}">{{ category }}</a>
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
      {% endif %}
    </div>
    
    {% if page.tags %}
    <div class="post-tags">
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- Share buttons -->
  <div class="post-share">
    <h3>Compartilhar:</h3>
    <div class="share-buttons">
      <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}" target="_blank" class="btn btn-twitter">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" target="_blank" class="btn btn-linkedin">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="btn btn-facebook">
        <i class="fab fa-facebook"></i> Facebook
      </a>
    </div>
  </div>

  <!-- Related posts -->
  {% if site.related_posts.size >= 1 %}
  <div class="related-posts">
    <h3>Posts Relacionados:</h3>
    <ul>
      {% for post in site.related_posts limit: 3 %}
        <li>
          <a href="{{ post.url | relative_url }}">
            <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
            <span class="post-title">{{ post.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
